RewriteEngine On
RewriteBase /api

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*)$ /src/index.php/$1 [QSA,NC,L]

# Enable passing Authorization headers to PHP
CGIPassAuth On
